.profile-body
{
    border-top:1px solid var(--border-color);
    min-width:60vw;
    /* margin-top:30px; */
    border-radius:10px;
    /* box-shadow: 1px 1px 7px var(--border-color); */
    display:flex;
    flex-wrap: wrap;
    min-height:500px;
    justify-content: center;
    align-items: center;
    margin-bottom:80px;
    
}
.heading
{
   align-self: center;
   justify-self: center;
    color:aqua;
    text-shadow: 2px 2px 2px rgb(139, 118, 135);
}
.para
{
    text-align: justify;
    padding :20px;
    max-width:400px;
}
.about-me
{
    /* border:1px solid var(--border-color); */

       /* border-radius:10px; */
    /* box-shadow: 1px 1px 7px var(--border-color); */
    min-width:50vw;
    height:80%;
    margin:10px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.image-section
{
    /* border:1px solid var(--border-color);

       border-radius:10px;
    box-shadow: 1px 1px 7px var(--border-color); */
    min-width:40vw;
    flex-wrap:wrap;
    height:80%;
    margin :10px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    

    
}
.logos
{
    width:30px;
    padding: 5px;
    border: 1px solid rgb(31, 210, 88);
    box-shadow: 1px 1px 5px aqua;
    border-radius: 10px;
    background-color: rgb(26, 29, 29);
}
.logosContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;

    
}
.image{
    /* border:1px solid var(--border-color); */
       border-radius:50%;
    box-shadow: 1px 1px 7px var(--border-color);
    min-width:300px;
    height:300px;
    margin:20px;
    background: linear-gradient(90deg, rgb(48, 48,200),green,rgb(28, 29, 29),rgb(201, 34, 118),red);
    padding:10px;
    

}
@media (  max-width:400px  ) {
    .image{
    min-width:250px;
    height:230px;


    }
    .para
    {
        font-size: 12px;
    }
    
}
@media(max-width:320px)
{
    .image{
        min-width:180px;
        height:180px;
    }
}
@media(max-width:250px)
{
    .image{
        min-width:120px;
        height:120px;
    }
}
.data
{
     /* border:1px solid var(--border-color); */
       /* border-radius:10px; */
    /* box-shadow: 1px 1px 7px var(--border-color); */
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;

}