.container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.leetcodes
{
     display:flex;
    gap:30px; 
    justify-content: space-around;
    align-items: center;
} 
.logou
{
    width:30px;
    height:30px;

}
