.skillsContainer
{
    min-width: 60vw;
    display: flex;
    /* flex-direction: column; */
    /* gap:10px; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    /* margin-top: 50px; */
    margin-bottom: 100px;
    border-top: 1px solid cyan;

    border-radius:10px;

}
.skillsContainer p
{
 padding: 10px;
 box-shadow: 1px 1px 3px rgb(69, 77, 77);
 border-radius: 10px;
 background:linear-gradient(90deg,red ,rgb(153, 0, 255));
 background-clip: text;
 -webkit-text-fill-color: transparent;
 -webkit-background-clip: text;
 font-size: 18px;
}