.profile-body
{
    border:1px solid var(--border-color);
    min-width:60vw;
    margin-top:30px;
    border-radius:10px;
    box-shadow: 1px 1px 7px var(--border-color);
    display:flex;
    flex-wrap: wrap;
    min-height:500px;
    
}
.about-me
{
    border:1px solid var(--border-color);

       border-radius:10px;
    box-shadow: 1px 1px 7px var(--border-color);
    min-width:50vw;
    height:80%;
    margin:10px;
    
}
.image-section
{
    border:1px solid var(--border-color);

       border-radius:10px;
    box-shadow: 1px 1px 7px var(--border-color);
    min-width:40vw;
    flex-wrap:wrap;
    height:80%;
    margin :10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.image{
    border:1px solid var(--border-color);
       border-radius:50%;
    box-shadow: 1px 1px 7px var(--border-color);
    height:300px;
    min-width:300px;
    

}
/* @media (  max-width:500px  ) {
    .image{
    width:50vw;
    }
    
}
@media(min-width:500px)
{
    .image{
        width:80vw;
    }
} */
.data
{
     border:1px solid var(--border-color);
       border-radius:10px;
    box-shadow: 1px 1px 7px var(--border-color);
     height:30%;
    width:100%;
}